.main {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  border-bottom: 1px solid #ccc;
}

.logo {
  object-fit: contain;
  height: 60px;
  margin: 10px 20px;
}

.logout {
  text-decoration: none;
  background-color: #ec0062;
  margin: 10px 20px;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 4px;
  color: #eee;
  border: none;
  cursor: pointer;
}

.title {
  text-align: center;
  color: #ec0062;
  font-size: 1.6em;
}

.bodyWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.dataWrapper {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
}

.dataInner {
  overflow-x: scroll;
}

.searchInputs {
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 5px;
  box-shadow: inset 0 0 15px -5px #ec0062;
}

.inputBox {
  display: inline-block;
}

.dataWrapper .add {
  float: right;
  background-color: #330000;
  color: #f2f2f2;
  padding: 5px 10px;
  font-size: 12px;
  text-decoration: none;
  position: fixed;
  top: 158px;
  right: 20px;
}

.dataWrapper .add span {
  margin-left: 10px;
}

.dataWrapper .addEmployee {
  position: initial;
}

.dataTableWrapper {
  max-height: 500px;
  overflow-y: scroll;
}

.dataTableWrapperClient {
  max-height: 75vh;
  overflow-y: scroll;
}

.dataTableWrapper:not(.dataTableWrapper:nth-child(1)) {
  margin-top: 30px;
}

.userDataTableWrapper {
  position: relative;
  width: unset;
  margin: 100px 0;
}

.empContainer {
  display: flex;
  justify-content: space-between;
}

.tableHeading {
  text-align: center;
  margin-bottom: 10px;
}

.dataTable {
  border-collapse: collapse;
  min-width: 100%;
  font-size: 14px;
  background-color: #fff;
  color: #000;
  overflow-x: scroll;
}

.userTable {
  white-space: nowrap;
  width: unset;
}

.dataTable th {
  background-color: #330000;
  color: #f2f2f2;
  font-weight: 500;
  position: sticky;
  top: -1px;
  z-index: 10;
}

.dataTable tr:hover {
  background-color: #072a38;
  color: #fff;
}

.dataTable td,
.dataTable th {
  white-space: nowrap;
  border: 1px solid #000;
  text-align: left;
  padding: 4px;
}
.dataTable .editableCell {
  position: relative;
  padding-right: 22px;
  font-size: 9px;
}
.dataTable .editableCell a {
  text-decoration: none;
  background-color: #004e00;
  margin-left: 5px;
  color: #fff;
  padding: 4px 5px;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .dataWrapper {
    margin-top: 20px;
  }
  .dataInner {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 789px) {
  .dataTable td,
  .dataTable th {
    padding: 2px;
    font-size: 11px;
  }
}

.sessionWrapper {
  width: fit-content;
  box-shadow: 10px 0px 10px -5px #000;
  margin-top: 20px;
}
.sessionWrapper h4 {
  text-align: center;
}

.clock {
  background-color: #330000;
  display: flex;
  color: #fff;
  padding-left: 10px;
}

.clock h2:not(.clock h2:nth-child(1)) {
  margin: 0 5px;
}
.clock h2:nth-child(1) {
  margin-right: 5px;
}
.clock span {
  font-size: 20px;
  font-weight: 900;
}

.clock button {
  background-color: #3a771d;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.4s;
}
.clock button:hover {
  background-color: #ec0062;
}
.clock button:active {
  background-color: #3a771d;
}
