.card {
  display: flex;
  width: 50%;
  margin: auto;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card a {
  text-decoration: none;
  background-color: #ec0062;
  color: #f2f2f2;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 11px;
  transition: all 1s ease-in-out;
}
.card a:hover {
  transform: rotate(360deg) scale(2);
}
.card a:active {
  transform: scale(0.9);
}

.navAppBar {
  background-color: var(--accent) !important;
}
.navtoolbar {
  display: flex !important;
  justify-content: space-between !important;
}

.toolbaInner {
  display: flex;
  align-items: center;
}
